[submodule "tools"]
	path = tools
	url = git@github.com:sean93park/rpitools.git
[submodule "lib/libuv"]
	path = lib/libuv
	url = git@github.com:sean93park/libuv.git
[submodule "lib/gecko-dev"]
	path = lib/gecko-dev
	url = git@github.com:sean93park/gecko-dev.git
